/node_modules
/public/build
/public/hot
/public/api
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
                    Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.php-cs-fixer.cache
./composer.lock
README2.md

/storage/logs/laravel.log
/resources/views/app/_partials/header.blade.php