@font-face {
  font-family: 'Curaft-Icon-Set-Standard-Stroke';
  src:  url('curaft-icon/Curaft-Icon-Set-Standard-Stroke.eot?h6qoqh');
  src:  url('curaft-icon/Curaft-Icon-Set-Standard-Stroke.eot?h6qoqh#iefix') format('embedded-opentype'),
    url('curaft-icon/Curaft-Icon-Set-Standard-Stroke.ttf?h6qoqh') format('truetype'),
    url('curaft-icon/Curaft-Icon-Set-Standard-Stroke.woff?h6qoqh') format('woff'),
    url('curaft-icon/Curaft-Icon-Set-Standard-Stroke.svg?h6qoqh#Curaft-Icon-Set-Standard-Stroke') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.cft-standard-stroke {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Curaft-Icon-Set-Standard-Stroke' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cft-columns:before {
  content: "\e900";
}
.cft-data-transfer-horizontal:before {
  content: "\e901";
}
.cft-underline:before {
  content: "\e902";
}
.cft-sorting-number-ascending:before {
  content: "\e903";
}
.cft-panel-divided:before {
  content: "\e904";
}
.cft-transfer:before {
  content: "\e905";
}
.cft-lightning:before {
  content: "\e906";
}
.cft-search:before {
  content: "\e907";
}
.cft-notes:before {
  content: "\e908";
}
.cft-grid-view:before {
  content: "\e909";
}
.cft-camera-add:before {
  content: "\e90a";
}
.cft-task:before {
  content: "\e90b";
}
.cft-pointer-left-circle:before {
  content: "\e90c";
}
.cft-eraser:before {
  content: "\e90d";
}
.cft-download-round:before {
  content: "\e90e";
}
.cft-voice-over:before {
  content: "\e90f";
}
.cft-receipt:before {
  content: "\e910";
}
.cft-arrow-down:before {
  content: "\e911";
}
.cft-expand-all-2:before {
  content: "\e912";
}
.cft-earth:before {
  content: "\e913";
}
.cft-quote-down:before {
  content: "\e914";
}
.cft-diamond-shape:before {
  content: "\e915";
}
.cft-megaphone:before {
  content: "\e916";
}
.cft-pos-register-2:before {
  content: "\e917";
}
.cft-tennis-ball:before {
  content: "\e918";
}
.cft-trending-top:before {
  content: "\e919";
}
.cft-agenda-bookmark:before {
  content: "\e91a";
}
.cft-briefcase-2:before {
  content: "\e91b";
}
.cft-switches:before {
  content: "\e91c";
}
.cft-plant-vase:before {
  content: "\e91d";
}
.cft-shopping-cart-entry:before {
  content: "\e91e";
}
.cft-dot-divider:before {
  content: "\e91f";
}
.cft-sales-money:before {
  content: "\e920";
}
.cft-flip-vertical:before {
  content: "\e921";
}
.cft-file-error:before {
  content: "\e922";
}
.cft-cutlery:before {
  content: "\e923";
}
.cft-target:before {
  content: "\e924";
}
.cft-direction-left:before {
  content: "\e925";
}
.cft-printer-add:before {
  content: "\e926";
}
.cft-signture:before {
  content: "\e927";
}
.cft-fast-forward-circle:before {
  content: "\e928";
}
.cft-digital-video-camera:before {
  content: "\e929";
}
.cft-repeat:before {
  content: "\e92a";
}
.cft-coffee-bottle:before {
  content: "\e92b";
}
.cft-direction-upward-right:before {
  content: "\e92c";
}
.cft-hourglass:before {
  content: "\e92d";
}
.cft-microwave:before {
  content: "\e92e";
}
.cft-menu-3:before {
  content: "\e92f";
}
.cft-user-clipboard:before {
  content: "\e930";
}
.cft-contact-agenda:before {
  content: "\e931";
}
.cft-tag-2:before {
  content: "\e932";
}
.cft-reply:before {
  content: "\e933";
}
.cft-hamburger:before {
  content: "\e934";
}
.cft-variables:before {
  content: "\e935";
}
.cft-translate:before {
  content: "\e936";
}
.cft-cone-icecream:before {
  content: "\e937";
}
.cft-adjustments:before {
  content: "\e938";
}
.cft-warning-sign:before {
  content: "\e939";
}
.cft-measure-tape:before {
  content: "\e93a";
}
.cft-umbrella:before {
  content: "\e93b";
}
.cft-user:before {
  content: "\e93c";
}
.cft-arrow-big-down:before {
  content: "\e93d";
}
.cft-activity-monitor:before {
  content: "\e93e";
}
.cft-keyboard-2:before {
  content: "\e93f";
}
.cft-sorting-alphab-descending:before {
  content: "\e940";
}
.cft-comment-face:before {
  content: "\e941";
}
.cft-portmanteau:before {
  content: "\e942";
}
.cft-euro-round:before {
  content: "\e943";
}
.cft-rubber-stamp:before {
  content: "\e944";
}
.cft-mouse-retro:before {
  content: "\e945";
}
.cft-battery-charge:before {
  content: "\e946";
}
.cft-dollar-round:before {
  content: "\e947";
}
.cft-menu-2:before {
  content: "\e948";
}
.cft-settings-automation:before {
  content: "\e949";
}
.cft-upset:before {
  content: "\e94a";
}
.cft-dollar:before {
  content: "\e94b";
}
.cft-quote-up:before {
  content: "\e94c";
}
.cft-square-direction-left:before {
  content: "\e94d";
}
.cft-rectangle:before {
  content: "\e94e";
}
.cft-text-align-center:before {
  content: "\e94f";
}
.cft-round-direction-upward-right:before {
  content: "\e950";
}
.cft-home:before {
  content: "\e951";
}
.cft-color-adjustments:before {
  content: "\e952";
}
.cft-mailbox:before {
  content: "\e953";
}
.cft-music:before {
  content: "\e954";
}
.cft-more-horizontal:before {
  content: "\e955";
}
.cft-content-contract:before {
  content: "\e956";
}
.cft-draggable:before {
  content: "\e957";
}
.cft-collaborator:before {
  content: "\e958";
}
.cft-identification-card:before {
  content: "\e959";
}
.cft-eject:before {
  content: "\e95a";
}
.cft-chevron-down:before {
  content: "\e95b";
}
.cft-logout:before {
  content: "\e95c";
}
.cft-pin-2:before {
  content: "\e95d";
}
.cft-coffee-cup:before {
  content: "\e95e";
}
.cft-shirt:before {
  content: "\e95f";
}
.cft-rectangular-marquee:before {
  content: "\e960";
}
.cft-call-round:before {
  content: "\e961";
}
.cft-round-direction-downward-right:before {
  content: "\e962";
}
.cft-cancel:before {
  content: "\e963";
}
.cft-cone:before {
  content: "\e964";
}
.cft-rotate:before {
  content: "\e965";
}
.cft-nav-foward:before {
  content: "\e966";
}
.cft-usb:before {
  content: "\e967";
}
.cft-chip:before {
  content: "\e968";
}
.cft-water-polo:before {
  content: "\e969";
}
.cft-export:before {
  content: "\e96a";
}
.cft-usb-a:before {
  content: "\e96b";
}
.cft-crop:before {
  content: "\e96c";
}
.cft-chat-help:before {
  content: "\e96d";
}
.cft-tag:before {
  content: "\e96e";
}
.cft-text-2:before {
  content: "\e96f";
}
.cft-briefcase:before {
  content: "\e970";
}
.cft-return-left:before {
  content: "\e971";
}
.cft-skip-foward-circle:before {
  content: "\e972";
}
.cft-fast-previous-circle:before {
  content: "\e973";
}
.cft-user-frame:before {
  content: "\e974";
}
.cft-pointer-right:before {
  content: "\e975";
}
.cft-plugin:before {
  content: "\e976";
}
.cft-support-agent:before {
  content: "\e977";
}
.cft-diamond-gem:before {
  content: "\e978";
}
.cft-remote-working:before {
  content: "\e979";
}
.cft-file-add:before {
  content: "\e97a";
}
.cft-inbox:before {
  content: "\e97b";
}
.cft-paper-map:before {
  content: "\e97c";
}
.cft-menu-5:before {
  content: "\e97d";
}
.cft-power:before {
  content: "\e97e";
}
.cft-user-union:before {
  content: "\e97f";
}
.cft-microphone:before {
  content: "\e980";
}
.cft-verified:before {
  content: "\e981";
}
.cft-database:before {
  content: "\e982";
}
.cft-calendar-day:before {
  content: "\e983";
}
.cft-delivery-man:before {
  content: "\e984";
}
.cft-plug-integration:before {
  content: "\e985";
}
.cft-select-circle:before {
  content: "\e986";
}
.cft-file:before {
  content: "\e987";
}
.cft-puzzle:before {
  content: "\e988";
}
.cft-duplicate:before {
  content: "\e989";
}
.cft-round-direction-left:before {
  content: "\e98a";
}
.cft-signal:before {
  content: "\e98b";
}
.cft-chef:before {
  content: "\e98c";
}
.cft-male:before {
  content: "\e98d";
}
.cft-paint-brush:before {
  content: "\e98e";
}
.cft-devices:before {
  content: "\e98f";
}
.cft-eject-round:before {
  content: "\e990";
}
.cft-contrast:before {
  content: "\e991";
}
.cft-production-order:before {
  content: "\e992";
}
.cft-terminal:before {
  content: "\e993";
}
.cft-theme-editor:before {
  content: "\e994";
}
.cft-round-direction-up:before {
  content: "\e995";
}
.cft-move:before {
  content: "\e996";
}
.cft-delivery:before {
  content: "\e997";
}
.cft-blocks-view:before {
  content: "\e998";
}
.cft-sparkles:before {
  content: "\e999";
}
.cft-city:before {
  content: "\e99a";
}
.cft-chevron-up:before {
  content: "\e99b";
}
.cft-menu-4:before {
  content: "\e99c";
}
.cft-energy:before {
  content: "\e99d";
}
.cft-perfume:before {
  content: "\e99e";
}
.cft-chat-text:before {
  content: "\e99f";
}
.cft-smartglass:before {
  content: "\e9a0";
}
.cft-sales-assistant:before {
  content: "\e9a1";
}
.cft-projector-screen:before {
  content: "\e9a2";
}
.cft-build:before {
  content: "\e9a3";
}
.cft-paint-roller:before {
  content: "\e9a4";
}
.cft-annotations-notes:before {
  content: "\e9a5";
}
.cft-keyboard:before {
  content: "\e9a6";
}
.cft-reports:before {
  content: "\e9a7";
}
.cft-x:before {
  content: "\e9a8";
}
.cft-clock-warning:before {
  content: "\e9a9";
}
.cft-qr-code:before {
  content: "\e9aa";
}
.cft-square-direction-right:before {
  content: "\e9ab";
}
.cft-panel-sidebar-divided:before {
  content: "\e9ac";
}
.cft-visibilty-off:before {
  content: "\e9ad";
}
.cft-zip:before {
  content: "\e9ae";
}
.cft-lock:before {
  content: "\e9af";
}
.cft-chart-pie-2:before {
  content: "\e9b0";
}
.cft-round-direction-downward-left:before {
  content: "\e9b1";
}
.cft-sorting-number-descending:before {
  content: "\e9b2";
}
.cft-curved-file:before {
  content: "\e9b3";
}
.cft-chat-typing:before {
  content: "\e9b4";
}
.cft-shopping-bag:before {
  content: "\e9b5";
}
.cft-divide:before {
  content: "\e9b6";
}
.cft-cocktail-glass:before {
  content: "\e9b7";
}
.cft-calendar-month:before {
  content: "\e9b8";
}
.cft-desk-kit:before {
  content: "\e9b9";
}
.cft-promo-percent:before {
  content: "\e9ba";
}
.cft-archive-doc:before {
  content: "\e9bb";
}
.cft-calendar-event:before {
  content: "\e9bc";
}
.cft-inventory:before {
  content: "\e9bd";
}
.cft-moisturizer:before {
  content: "\e9be";
}
.cft-money-2:before {
  content: "\e9bf";
}
.cft-pen:before {
  content: "\e9c0";
}
.cft-credit-card-add:before {
  content: "\e9c1";
}
.cft-chevron-right:before {
  content: "\e9c2";
}
.cft-bullet-list:before {
  content: "\e9c3";
}
.cft-projection-tripod:before {
  content: "\e9c4";
}
.cft-clipboard:before {
  content: "\e9c5";
}
.cft-swap-vertical:before {
  content: "\e9c6";
}
.cft-shield-user:before {
  content: "\e9c7";
}
.cft-translate-2:before {
  content: "\e9c8";
}
.cft-swap-horizontal:before {
  content: "\e9c9";
}
.cft-columns1:before {
  content: "\e9ca";
}
.cft-instagram:before {
  content: "\e9cb";
}
.cft-euro:before {
  content: "\e9cc";
}
.cft-pointer-double:before {
  content: "\e9cd";
}
.cft-link:before {
  content: "\e9ce";
}
.cft-gift-box-2:before {
  content: "\e9cf";
}
.cft-certificate:before {
  content: "\e9d0";
}
.cft-ship-box-2:before {
  content: "\e9d1";
}
.cft-key:before {
  content: "\e9d2";
}
.cft-rename:before {
  content: "\e9d3";
}
.cft-sad:before {
  content: "\e9d4";
}
.cft-filmstrip:before {
  content: "\e9d5";
}
.cft-sorting-alphab-ascending:before {
  content: "\e9d6";
}
.cft-notification-loud:before {
  content: "\e9d7";
}
.cft-party-balloon:before {
  content: "\e9d8";
}
.cft-drag-line:before {
  content: "\e9d9";
}
.cft-arrow-right:before {
  content: "\e9da";
}
.cft-store:before {
  content: "\e9db";
}
.cft-box-pack:before {
  content: "\e9dc";
}
.cft-at:before {
  content: "\e9dd";
}
.cft-notebook-open:before {
  content: "\e9de";
}
.cft-cry:before {
  content: "\e9df";
}
.cft-publish-round:before {
  content: "\e9e0";
}
.cft-treasure-map:before {
  content: "\e9e1";
}
.cft-agenda-cover:before {
  content: "\e9e2";
}
.cft-pet-paw:before {
  content: "\e9e3";
}
.cft-upload-round:before {
  content: "\e9e4";
}
.cft-song:before {
  content: "\e9e5";
}
.cft-digital-camera:before {
  content: "\e9e6";
}
.cft-stopwatch:before {
  content: "\e9e7";
}
.cft-group:before {
  content: "\e9e8";
}
.cft-settings:before {
  content: "\e9e9";
}
.cft-ellipse:before {
  content: "\e9ea";
}
.cft-pos-machine:before {
  content: "\e9eb";
}
.cft-rugby:before {
  content: "\e9ec";
}
.cft-setting-content:before {
  content: "\e9ed";
}
.cft-thumbs-down:before {
  content: "\e9ee";
}
.cft-compose:before {
  content: "\e9ef";
}
.cft-financial-report:before {
  content: "\e9f0";
}
.cft-envelope:before {
  content: "\e9f1";
}
.cft-templates:before {
  content: "\e9f2";
}
.cft-position:before {
  content: "\e9f3";
}
.cft-square-piramyd:before {
  content: "\e9f4";
}
.cft-bazier-path:before {
  content: "\e9f5";
}
.cft-pix:before {
  content: "\e9f6";
}
.cft-candy:before {
  content: "\e9f7";
}
.cft-mail:before {
  content: "\e9f8";
}
.cft-arrow-big-right:before {
  content: "\e9f9";
}
.cft-shield:before {
  content: "\e9fa";
}
.cft-calendar-today:before {
  content: "\e9fb";
}
.cft-download:before {
  content: "\e9fc";
}
.cft-coin-2:before {
  content: "\e9fd";
}
.cft-expand:before {
  content: "\e9fe";
}
.cft-file-warning:before {
  content: "\e9ff";
}
.cft-fast-shipping:before {
  content: "\ea00";
}
.cft-paper-pin:before {
  content: "\ea01";
}
.cft-eject-square:before {
  content: "\ea02";
}
.cft-deck-cards:before {
  content: "\ea03";
}
.cft-magic-wand:before {
  content: "\ea04";
}
.cft-import:before {
  content: "\ea05";
}
.cft-travel-suitcase:before {
  content: "\ea06";
}
.cft-apps:before {
  content: "\ea07";
}
.cft-gallery:before {
  content: "\ea08";
}
.cft-tv-retro:before {
  content: "\ea09";
}
.cft-divide-square:before {
  content: "\ea0a";
}
.cft-jar:before {
  content: "\ea0b";
}
.cft-add-square:before {
  content: "\ea0c";
}
.cft-takeout:before {
  content: "\ea0d";
}
.cft-skip-forward:before {
  content: "\ea0e";
}
.cft-pound:before {
  content: "\ea0f";
}
.cft-cash-drawer:before {
  content: "\ea10";
}
.cft-battery-medium:before {
  content: "\ea11";
}
.cft-text-align-justify:before {
  content: "\ea12";
}
.cft-cancel-round:before {
  content: "\ea13";
}
.cft-injection-syringe:before {
  content: "\ea14";
}
.cft-lock-square:before {
  content: "\ea15";
}
.cft-pointer-up:before {
  content: "\ea16";
}
.cft-comment-typing:before {
  content: "\ea17";
}
.cft-login:before {
  content: "\ea18";
}
.cft-radio:before {
  content: "\ea19";
}
.cft-book:before {
  content: "\ea1a";
}
.cft-file-tree:before {
  content: "\ea1b";
}
.cft-day:before {
  content: "\ea1c";
}
.cft-chat-conversation:before {
  content: "\ea1d";
}
.cft-direction-downward-left:before {
  content: "\ea1e";
}
.cft-neutral:before {
  content: "\ea1f";
}
.cft-financial-entries:before {
  content: "\ea20";
}
.cft-lock-round:before {
  content: "\ea21";
}
.cft-car-front:before {
  content: "\ea22";
}
.cft-scissor:before {
  content: "\ea23";
}
.cft-shield-error:before {
  content: "\ea24";
}
.cft-skull:before {
  content: "\ea25";
}
.cft-sphere:before {
  content: "\ea26";
}
.cft-add-collection:before {
  content: "\ea27";
}
.cft-automate-campaign:before {
  content: "\ea28";
}
.cft-wallet:before {
  content: "\ea29";
}
.cft-paper-folded-2:before {
  content: "\ea2a";
}
.cft-rotate-content:before {
  content: "\ea2b";
}
.cft-panel-header-sidebar:before {
  content: "\ea2c";
}
.cft-dashboard:before {
  content: "\ea2d";
}
.cft-code:before {
  content: "\ea2e";
}
.cft-settings-2:before {
  content: "\ea2f";
}
.cft-chat-love:before {
  content: "\ea30";
}
.cft-smartwatch-round:before {
  content: "\ea31";
}
.cft-telegram:before {
  content: "\ea32";
}
.cft-block-sign:before {
  content: "\ea33";
}
.cft-flag:before {
  content: "\ea34";
}
.cft-exchange:before {
  content: "\ea35";
}
.cft-gameboy:before {
  content: "\ea36";
}
.cft-observation:before {
  content: "\ea37";
}
.cft-stop:before {
  content: "\ea38";
}
.cft-results-board:before {
  content: "\ea39";
}
.cft-newspaper:before {
  content: "\ea3a";
}
.cft-system-bug:before {
  content: "\ea3b";
}
.cft-star-square:before {
  content: "\ea3c";
}
.cft-cube:before {
  content: "\ea3d";
}
.cft-bomb:before {
  content: "\ea3e";
}
.cft-pound-round:before {
  content: "\ea3f";
}
.cft-vynil:before {
  content: "\ea40";
}
.cft-star-half:before {
  content: "\ea41";
}
.cft-release-notes:before {
  content: "\ea42";
}
.cft-ruler:before {
  content: "\ea43";
}
.cft-nav-backward:before {
  content: "\ea44";
}
.cft-work:before {
  content: "\ea45";
}
.cft-fax:before {
  content: "\ea46";
}
.cft-round-blink:before {
  content: "\ea47";
}
.cft-user-remove:before {
  content: "\ea48";
}
.cft-cancel-square:before {
  content: "\ea49";
}
.cft-leaf-2:before {
  content: "\ea4a";
}
.cft-bold:before {
  content: "\ea4b";
}
.cft-triangule:before {
  content: "\ea4c";
}
.cft-user-error:before {
  content: "\ea4d";
}
.cft-boxed-list:before {
  content: "\ea4e";
}
.cft-trophy:before {
  content: "\ea4f";
}
.cft-maintenance-plate:before {
  content: "\ea50";
}
.cft-share-2:before {
  content: "\ea51";
}
.cft-battery-full:before {
  content: "\ea52";
}
.cft-clock-square:before {
  content: "\ea53";
}
.cft-store-2:before {
  content: "\ea54";
}
.cft-bowling:before {
  content: "\ea55";
}
.cft-check:before {
  content: "\ea56";
}
.cft-nut:before {
  content: "\ea57";
}
.cft-warning:before {
  content: "\ea58";
}
.cft-pointer-right-circle:before {
  content: "\ea59";
}
.cft-battery-high:before {
  content: "\ea5a";
}
.cft-hospital:before {
  content: "\ea5b";
}
.cft-panel-list:before {
  content: "\ea5c";
}
.cft-bluetooth:before {
  content: "\ea5d";
}
.cft-headphones:before {
  content: "\ea5e";
}
.cft-video-content:before {
  content: "\ea5f";
}
.cft-filter-2:before {
  content: "\ea60";
}
.cft-dot-large:before {
  content: "\ea61";
}
.cft-drag-drop-vertical:before {
  content: "\ea62";
}
.cft-rss:before {
  content: "\ea63";
}
.cft-remove-square:before {
  content: "\ea64";
}
.cft-watch:before {
  content: "\ea65";
}
.cft-pointer-down:before {
  content: "\ea66";
}
.cft-store-3:before {
  content: "\ea67";
}
.cft-happy:before {
  content: "\ea68";
}
.cft-share-3:before {
  content: "\ea69";
}
.cft-article-caption:before {
  content: "\ea6a";
}
.cft-ipod:before {
  content: "\ea6b";
}
.cft-pointer-up-circle:before {
  content: "\ea6c";
}
.cft-milk-bottle:before {
  content: "\ea6d";
}
.cft-info:before {
  content: "\ea6e";
}
.cft-tablet-portrait:before {
  content: "\ea6f";
}
.cft-money-vault:before {
  content: "\ea70";
}
.cft-check-round:before {
  content: "\ea71";
}
.cft-radiobox:before {
  content: "\ea72";
}
.cft-intercom:before {
  content: "\ea73";
}
.cft-direction-up:before {
  content: "\ea74";
}
.cft-text-sheet:before {
  content: "\ea75";
}
.cft-palette:before {
  content: "\ea76";
}
.cft-spoon:before {
  content: "\ea77";
}
.cft-user-add:before {
  content: "\ea78";
}
.cft-add:before {
  content: "\ea79";
}
.cft-truck-fast:before {
  content: "\ea7a";
}
.cft-speedometer:before {
  content: "\ea7b";
}
.cft-panel-sidebar-right:before {
  content: "\ea7c";
}
.cft-pause-round:before {
  content: "\ea7d";
}
.cft-volleyball:before {
  content: "\ea7e";
}
.cft-american-football:before {
  content: "\ea7f";
}
.cft-pants:before {
  content: "\ea80";
}
.cft-orders:before {
  content: "\ea81";
}
.cft-quote-down-round:before {
  content: "\ea82";
}
.cft-milk-carton:before {
  content: "\ea83";
}
.cft-content-expand:before {
  content: "\ea84";
}
.cft-list-view:before {
  content: "\ea85";
}
.cft-printer-receipt:before {
  content: "\ea86";
}
.cft-soup:before {
  content: "\ea87";
}
.cft-text-sheet-stack:before {
  content: "\ea88";
}
.cft-comment-text:before {
  content: "\ea89";
}
.cft-padlock-unlocked:before {
  content: "\ea8a";
}
.cft-stand-office:before {
  content: "\ea8b";
}
.cft-copy:before {
  content: "\ea8c";
}
.cft-fish:before {
  content: "\ea8d";
}
.cft-zoom-in:before {
  content: "\ea8e";
}
.cft-racing-flag:before {
  content: "\ea8f";
}
.cft-mansory-grid:before {
  content: "\ea90";
}
.cft-glasses:before {
  content: "\ea91";
}
.cft-coins:before {
  content: "\ea92";
}
.cft-refresh:before {
  content: "\ea93";
}
.cft-snapchat:before {
  content: "\ea94";
}
.cft-very-sad:before {
  content: "\ea95";
}
.cft-panel-footer:before {
  content: "\ea96";
}
.cft-text:before {
  content: "\ea97";
}
.cft-image:before {
  content: "\ea98";
}
.cft-deck-cards-2:before {
  content: "\ea99";
}
.cft-user-love:before {
  content: "\ea9a";
}
.cft-lightbulb:before {
  content: "\ea9b";
}
.cft-ship-box:before {
  content: "\ea9c";
}
.cft-smile:before {
  content: "\ea9d";
}
.cft-hang-frame:before {
  content: "\ea9e";
}
.cft-navigation:before {
  content: "\ea9f";
}
.cft-fork:before {
  content: "\eaa0";
}
.cft-dine-in:before {
  content: "\eaa1";
}
.cft-rio-de-janeiro:before {
  content: "\eaa2";
}
.cft-fast-previous:before {
  content: "\eaa3";
}
.cft-text-edit:before {
  content: "\eaa4";
}
.cft-pin-map:before {
  content: "\eaa5";
}
.cft-volume-mute:before {
  content: "\eaa6";
}
.cft-archive-box:before {
  content: "\eaa7";
}
.cft-egypt:before {
  content: "\eaa8";
}
.cft-film-content:before {
  content: "\eaa9";
}
.cft-signposts:before {
  content: "\eaaa";
}
.cft-direction-right:before {
  content: "\eaab";
}
.cft-book-opened:before {
  content: "\eaac";
}
.cft-fast-forward:before {
  content: "\eaad";
}
.cft-medal-2:before {
  content: "\eaae";
}
.cft-sheets-content:before {
  content: "\eaaf";
}
.cft-stop-round:before {
  content: "\eab0";
}
.cft-zoom-out:before {
  content: "\eab1";
}
.cft-credit-card-simple:before {
  content: "\eab2";
}
.cft-thumbs-up:before {
  content: "\eab3";
}
.cft-pasta:before {
  content: "\eab4";
}
.cft-paper-folded:before {
  content: "\eab5";
}
.cft-battery-low:before {
  content: "\eab6";
}
.cft-help-2:before {
  content: "\eab7";
}
.cft-style:before {
  content: "\eab8";
}
.cft-monetary:before {
  content: "\eab9";
}
.cft-purchase-order:before {
  content: "\eaba";
}
.cft-contract:before {
  content: "\eabb";
}
.cft-data-transfer-vertical:before {
  content: "\eabc";
}
.cft-percent:before {
  content: "\eabd";
}
.cft-framing:before {
  content: "\eabe";
}
.cft-crown:before {
  content: "\eabf";
}
.cft-round-direction-right:before {
  content: "\eac0";
}
.cft-network-modem:before {
  content: "\eac1";
}
.cft-side-list-view:before {
  content: "\eac2";
}
.cft-donut:before {
  content: "\eac3";
}
.cft-play:before {
  content: "\eac4";
}
.cft-soccer-ball:before {
  content: "\eac5";
}
.cft-checkout-counter:before {
  content: "\eac6";
}
.cft-skip-previous-circle:before {
  content: "\eac7";
}
.cft-notification:before {
  content: "\eac8";
}
.cft-cycling:before {
  content: "\eac9";
}
.cft-flow-2:before {
  content: "\eaca";
}
.cft-file-check:before {
  content: "\eacb";
}
.cft-coin:before {
  content: "\eacc";
}
.cft-agenda:before {
  content: "\eacd";
}
.cft-saturn:before {
  content: "\eace";
}
.cft-send:before {
  content: "\eacf";
}
.cft-design-kit:before {
  content: "\ead0";
}
.cft-play-store:before {
  content: "\ead1";
}
.cft-barcode:before {
  content: "\ead2";
}
.cft-bar:before {
  content: "\ead3";
}
.cft-coupon:before {
  content: "\ead4";
}
.cft-flow:before {
  content: "\ead5";
}
.cft-medal-3:before {
  content: "\ead6";
}
.cft-night:before {
  content: "\ead7";
}
.cft-facebook:before {
  content: "\ead8";
}
.cft-publish:before {
  content: "\ead9";
}
.cft-drag-drop-horizontal:before {
  content: "\eada";
}
.cft-panel-sidebar-header:before {
  content: "\eadb";
}
.cft-list-ascending:before {
  content: "\eadc";
}
.cft-battery-empty:before {
  content: "\eadd";
}
.cft-wi-fi:before {
  content: "\eade";
}
.cft-camera:before {
  content: "\eadf";
}
.cft-printer:before {
  content: "\eae0";
}
.cft-smartwatch:before {
  content: "\eae1";
}
.cft-redo:before {
  content: "\eae2";
}
.cft-plugin-content:before {
  content: "\eae3";
}
.cft-pinterest:before {
  content: "\eae4";
}
.cft-truck:before {
  content: "\eae5";
}
.cft-groups:before {
  content: "\eae6";
}
.cft-home-3:before {
  content: "\eae7";
}
.cft-chat-minimal:before {
  content: "\eae8";
}
.cft-money-briefcase:before {
  content: "\eae9";
}
.cft-blender:before {
  content: "\eaea";
}
.cft-mute:before {
  content: "\eaeb";
}
.cft-pen-tool:before {
  content: "\eaec";
}
.cft-wine-glass:before {
  content: "\eaed";
}
.cft-saving:before {
  content: "\eaee";
}
.cft-visibilty:before {
  content: "\eaef";
}
.cft-return-right:before {
  content: "\eaf0";
}
.cft-whatsapp:before {
  content: "\eaf1";
}
.cft-line:before {
  content: "\eaf2";
}
.cft-egg:before {
  content: "\eaf3";
}
.cft-window-programming:before {
  content: "\eaf4";
}
.cft-parameters:before {
  content: "\eaf5";
}
.cft-comment-star:before {
  content: "\eaf6";
}
.cft-tablet-landscape:before {
  content: "\eaf7";
}
.cft-grid-system:before {
  content: "\eaf8";
}
.cft-pointer-left:before {
  content: "\eaf9";
}
.cft-attachment:before {
  content: "\eafa";
}
.cft-gift-box:before {
  content: "\eafb";
}
.cft-pointer-down-circle:before {
  content: "\eafc";
}
.cft-diskette:before {
  content: "\eafd";
}
.cft-trash:before {
  content: "\eafe";
}
.cft-chart-bar:before {
  content: "\eaff";
}
.cft-menu-expand:before {
  content: "\eb00";
}
.cft-eleptical-marquee:before {
  content: "\eb01";
}
.cft-leaf:before {
  content: "\eb02";
}
.cft-network:before {
  content: "\eb03";
}
.cft-panel-sidebar:before {
  content: "\eb04";
}
.cft-math-divide-round:before {
  content: "\eb05";
}
.cft-text-align-left:before {
  content: "\eb06";
}
.cft-income:before {
  content: "\eb07";
}
.cft-banknotes:before {
  content: "\eb08";
}
.cft-customer-support:before {
  content: "\eb09";
}
.cft-star:before {
  content: "\eb0a";
}
.cft-notification-off:before {
  content: "\eb0b";
}
.cft-cd:before {
  content: "\eb0c";
}
.cft-wrench:before {
  content: "\eb0d";
}
.cft-home-2:before {
  content: "\eb0e";
}
.cft-checklist:before {
  content: "\eb0f";
}
.cft-chart-column:before {
  content: "\eb10";
}
.cft-panel-header:before {
  content: "\eb11";
}
.cft-trencher-hat:before {
  content: "\eb12";
}
.cft-edit:before {
  content: "\eb13";
}
.cft-skip-previous:before {
  content: "\eb14";
}
.cft-browser:before {
  content: "\eb15";
}
.cft-contactless:before {
  content: "\eb16";
}
.cft-checkbox:before {
  content: "\eb17";
}
.cft-teapot:before {
  content: "\eb18";
}
.cft-nav-back:before {
  content: "\eb19";
}
.cft-wheelchair:before {
  content: "\eb1a";
}
.cft-chart-pie:before {
  content: "\eb1b";
}
.cft-panel-simple:before {
  content: "\eb1c";
}
.cft-lifebuoy:before {
  content: "\eb1d";
}
.cft-bug:before {
  content: "\eb1e";
}
.cft-volume-high:before {
  content: "\eb1f";
}
.cft-mail-birdhouse:before {
  content: "\eb20";
}
.cft-mail-open:before {
  content: "\eb21";
}
.cft-youtube:before {
  content: "\eb22";
}
.cft-data-storage:before {
  content: "\eb23";
}
.cft-name-tag:before {
  content: "\eb24";
}
.cft-collection:before {
  content: "\eb25";
}
.cft-idea:before {
  content: "\eb26";
}
.cft-unlock:before {
  content: "\eb27";
}
.cft-to-top:before {
  content: "\eb28";
}
.cft-compass:before {
  content: "\eb29";
}
.cft-hang-tag:before {
  content: "\eb2a";
}
.cft-knife:before {
  content: "\eb2b";
}
.cft-clock-rush:before {
  content: "\eb2c";
}
.cft-promo-price:before {
  content: "\eb2d";
}
.cft-pharmacy:before {
  content: "\eb2e";
}
.cft-pencil-2:before {
  content: "\eb2f";
}
.cft-store-round:before {
  content: "\eb30";
}
.cft-woman:before {
  content: "\eb31";
}
.cft-columns2:before {
  content: "\eb32";
}
.cft-grid-circle:before {
  content: "\eb33";
}
.cft-bank:before {
  content: "\eb34";
}
.cft-credit-card:before {
  content: "\eb35";
}
.cft-cylinder:before {
  content: "\eb36";
}
.cft-computer:before {
  content: "\eb37";
}
.cft-shopping-bag-2:before {
  content: "\eb38";
}
.cft-lightning-bolt:before {
  content: "\eb39";
}
.cft-remove-round:before {
  content: "\eb3a";
}
.cft-pencil:before {
  content: "\eb3b";
}
.cft-language:before {
  content: "\eb3c";
}
.cft-boxing-glove:before {
  content: "\eb3d";
}
.cft-integration:before {
  content: "\eb3e";
}
.cft-sort-list:before {
  content: "\eb3f";
}
.cft-shape-boundary:before {
  content: "\eb40";
}
.cft-basketball:before {
  content: "\eb41";
}
.cft-diamond:before {
  content: "\eb42";
}
.cft-square-direction-down:before {
  content: "\eb43";
}
.cft-clock:before {
  content: "\eb44";
}
.cft-movie-camera:before {
  content: "\eb45";
}
.cft-android-brand-2:before {
  content: "\eb46";
}
.cft-user-settings:before {
  content: "\eb47";
}
.cft-arrow-big-left:before {
  content: "\eb48";
}
.cft-results-meeting:before {
  content: "\eb49";
}
.cft-app-notification:before {
  content: "\eb4a";
}
.cft-hanger:before {
  content: "\eb4b";
}
.cft-enter-room:before {
  content: "\eb4c";
}
.cft-yen-round:before {
  content: "\eb4d";
}
.cft-repeat-all:before {
  content: "\eb4e";
}
.cft-dumbbell:before {
  content: "\eb4f";
}
.cft-sync:before {
  content: "\eb50";
}
.cft-call:before {
  content: "\eb51";
}
.cft-eye:before {
  content: "\eb52";
}
.cft-view-off:before {
  content: "\eb53";
}
.cft-delivery-2:before {
  content: "\eb54";
}
.cft-plant-vase-2:before {
  content: "\eb55";
}
.cft-location:before {
  content: "\eb56";
}
.cft-flower:before {
  content: "\eb57";
}
.cft-menu-contract:before {
  content: "\eb58";
}
.cft-power-switch:before {
  content: "\eb59";
}
.cft-comment-simple:before {
  content: "\eb5a";
}
.cft-location-2:before {
  content: "\eb5b";
}
.cft-pill:before {
  content: "\eb5c";
}
.cft-square-direction-up:before {
  content: "\eb5d";
}
.cft-gift:before {
  content: "\eb5e";
}
.cft-mobile-portrait:before {
  content: "\eb5f";
}
.cft-external-link:before {
  content: "\eb60";
}
.cft-car:before {
  content: "\eb61";
}
.cft-notebook-folder:before {
  content: "\eb62";
}
.cft-text-align-right:before {
  content: "\eb63";
}
.cft-order-service:before {
  content: "\eb64";
}
.cft-more-vertical:before {
  content: "\eb65";
}
.cft-panel-header-divided:before {
  content: "\eb66";
}
.cft-direction-downward-right:before {
  content: "\eb67";
}
.cft-square-direction-upward-right:before {
  content: "\eb68";
}
.cft-observation-love:before {
  content: "\eb69";
}
.cft-square-direction-downward-left:before {
  content: "\eb6a";
}
.cft-baseball:before {
  content: "\eb6b";
}
.cft-profile:before {
  content: "\eb6c";
}
.cft-share:before {
  content: "\eb6d";
}
.cft-ruler-triangule:before {
  content: "\eb6e";
}
.cft-arrow-up:before {
  content: "\eb6f";
}
.cft-geo-globe:before {
  content: "\eb70";
}
.cft-money:before {
  content: "\eb71";
}
.cft-direction-down:before {
  content: "\eb72";
}
.cft-return-up:before {
  content: "\eb73";
}
.cft-folder-add:before {
  content: "\eb74";
}
.cft-linkedin:before {
  content: "\eb75";
}
.cft-sort:before {
  content: "\eb76";
}
.cft-remove:before {
  content: "\eb77";
}
.cft-modules:before {
  content: "\eb78";
}
.cft-undo:before {
  content: "\eb79";
}
.cft-video:before {
  content: "\eb7a";
}
.cft-postal-package:before {
  content: "\eb7b";
}
.cft-pos-register:before {
  content: "\eb7c";
}
.cft-robot:before {
  content: "\eb7d";
}
.cft-padlock-locked:before {
  content: "\eb7e";
}
.cft-id-card:before {
  content: "\eb7f";
}
.cft-quote-up-round:before {
  content: "\eb80";
}
.cft-filter:before {
  content: "\eb81";
}
.cft-build-rounded:before {
  content: "\eb82";
}
.cft-file-remove:before {
  content: "\eb83";
}
.cft-switch:before {
  content: "\eb84";
}
.cft-check-double:before {
  content: "\eb85";
}
.cft-italic:before {
  content: "\eb86";
}
.cft-flowtree:before {
  content: "\eb87";
}
.cft-medal:before {
  content: "\eb88";
}
.cft-calendar:before {
  content: "\eb89";
}
.cft-baby-stroller:before {
  content: "\eb8a";
}
.cft-video-camera:before {
  content: "\eb8b";
}
.cft-globe:before {
  content: "\eb8c";
}
.cft-arrow-left:before {
  content: "\eb8d";
}
.cft-coupon-2:before {
  content: "\eb8e";
}
.cft-yen:before {
  content: "\eb8f";
}
.cft-chat-face:before {
  content: "\eb90";
}
.cft-domino:before {
  content: "\eb91";
}
.cft-square-direction-upward-left:before {
  content: "\eb92";
}
.cft-school-book:before {
  content: "\eb93";
}
.cft-gift-2:before {
  content: "\eb94";
}
.cft-laptop:before {
  content: "\eb95";
}
.cft-select-object:before {
  content: "\eb96";
}
.cft-arrow-big-up:before {
  content: "\eb97";
}
.cft-financial-statement:before {
  content: "\eb98";
}
.cft-club-suit:before {
  content: "\eb99";
}
.cft-manager:before {
  content: "\eb9a";
}
.cft-volume-low:before {
  content: "\eb9b";
}
.cft-scanner:before {
  content: "\eb9c";
}
.cft-rocket-launch:before {
  content: "\eb9d";
}
.cft-shorts:before {
  content: "\eb9e";
}
.cft-audio-waves:before {
  content: "\eb9f";
}
.cft-disappear:before {
  content: "\eba0";
}
.cft-mouse-cursor:before {
  content: "\eba1";
}
.cft-cloud:before {
  content: "\eba2";
}
.cft-star-round:before {
  content: "\eba3";
}
.cft-shuffle:before {
  content: "\eba4";
}
.cft-window:before {
  content: "\eba5";
}
.cft-videogame-controler:before {
  content: "\eba6";
}
.cft-gemstone:before {
  content: "\eba7";
}
.cft-supplier:before {
  content: "\eba8";
}
.cft-search-list:before {
  content: "\eba9";
}
.cft-table-tenis:before {
  content: "\ebaa";
}
.cft-skull-angry:before {
  content: "\ebab";
}
.cft-motorcycle:before {
  content: "\ebac";
}
.cft-upload:before {
  content: "\ebad";
}
.cft-trending-down:before {
  content: "\ebae";
}
.cft-messenger:before {
  content: "\ebaf";
}
.cft-slider-left:before {
  content: "\ebb0";
}
.cft-apple-brand:before {
  content: "\ebb1";
}
.cft-text-content:before {
  content: "\ebb2";
}
.cft-peanut:before {
  content: "\ebb3";
}
.cft-text-sheet-folded:before {
  content: "\ebb4";
}
.cft-pause:before {
  content: "\ebb5";
}
.cft-square-direction-downward-right:before {
  content: "\ebb6";
}
.cft-juice-cup:before {
  content: "\ebb7";
}
.cft-flowtree-2:before {
  content: "\ebb8";
}
.cft-android-brand:before {
  content: "\ebb9";
}
.cft-place-pin:before {
  content: "\ebba";
}
.cft-forward:before {
  content: "\ebbb";
}
.cft-kanban-view:before {
  content: "\ebbc";
}
.cft-bookmark:before {
  content: "\ebbd";
}
.cft-help:before {
  content: "\ebbe";
}
.cft-status:before {
  content: "\ebbf";
}
.cft-rocket:before {
  content: "\ebc0";
}
.cft-socket:before {
  content: "\ebc1";
}
.cft-add-round:before {
  content: "\ebc2";
}
.cft-employee:before {
  content: "\ebc3";
}
.cft-inbox-receive:before {
  content: "\ebc4";
}
.cft-user-check:before {
  content: "\ebc5";
}
.cft-tag-love:before {
  content: "\ebc6";
}
.cft-iphone:before {
  content: "\ebc7";
}
.cft-statement:before {
  content: "\ebc8";
}
.cft-round-direction-down:before {
  content: "\ebc9";
}
.cft-file-blocked:before {
  content: "\ebca";
}
.cft-pamphlet:before {
  content: "\ebcb";
}
.cft-ice-cream:before {
  content: "\ebcc";
}
.cft-menu:before {
  content: "\ebcd";
}
.cft-happy-love:before {
  content: "\ebce";
}
.cft-brightness:before {
  content: "\ebcf";
}
.cft-soda-glass:before {
  content: "\ebd0";
}
.cft-backspace:before {
  content: "\ebd1";
}
.cft-arrow-rightward:before {
  content: "\ebd2";
}
.cft-chat-simple:before {
  content: "\ebd3";
}
.cft-play-round:before {
  content: "\ebd4";
}
.cft-mobile-landscape:before {
  content: "\ebd5";
}
.cft-shopping-cart:before {
  content: "\ebd6";
}
.cft-id:before {
  content: "\ebd7";
}
.cft-calculator:before {
  content: "\ebd8";
}
.cft-direction-upward-left:before {
  content: "\ebd9";
}
.cft-return-down:before {
  content: "\ebda";
}
.cft-mouse:before {
  content: "\ebdb";
}
.cft-female:before {
  content: "\ebdc";
}
.cft-beach:before {
  content: "\ebdd";
}
.cft-shield-check:before {
  content: "\ebde";
}
.cft-sales-contract:before {
  content: "\ebdf";
}
.cft-columns3:before {
  content: "\ebe0";
}
.cft-adobe-acrobat:before {
  content: "\ebe1";
}
.cft-shopping-basket:before {
  content: "\ebe2";
}
.cft-man:before {
  content: "\ebe3";
}
.cft-mail-doc:before {
  content: "\ebe4";
}
.cft-building:before {
  content: "\ebe5";
}
.cft-angry:before {
  content: "\ebe6";
}
.cft-history:before {
  content: "\ebe7";
}
.cft-rhombus:before {
  content: "\ebe8";
}
.cft-folder:before {
  content: "\ebe9";
}
.cft-alarm:before {
  content: "\ebea";
}
.cft-gift-card:before {
  content: "\ebeb";
}
.cft-arrow-leftward:before {
  content: "\ebec";
}
.cft-fingerprint:before {
  content: "\ebed";
}
.cft-timer:before {
  content: "\ebee";
}
.cft-clipboard-check:before {
  content: "\ebef";
}
.cft-tiktok:before {
  content: "\ebf0";
}
.cft-activity-monitor-square:before {
  content: "\ebf1";
}
.cft-chevron-left:before {
  content: "\ebf2";
}
.cft-slider-right:before {
  content: "\ebf3";
}
.cft-moon:before {
  content: "\ebf4";
}
.cft-blink:before {
  content: "\ebf5";
}
.cft-behance:before {
  content: "\ebf6";
}
.cft-band-aid:before {
  content: "\ebf7";
}
.cft-accessibility:before {
  content: "\ebf8";
}
.cft-surprise:before {
  content: "\ebf9";
}
.cft-customer:before {
  content: "\ebfa";
}
.cft-list-descending:before {
  content: "\ebfb";
}
.cft-round-direction-upward-left:before {
  content: "\ebfc";
}
.cft-proposal:before {
  content: "\ebfd";
}
.cft-flip-horizontal:before {
  content: "\ebfe";
}
.cft-notebook:before {
  content: "\ebff";
}
.cft-edit-inline:before {
  content: "\ec00";
}
.cft-sofa:before {
  content: "\ec01";
}
.cft-cherry:before {
  content: "\ec02";
}
.cft-percent-round:before {
  content: "\ec03";
}
.cft-heart:before {
  content: "\ec04";
}
